$nice-blue: rgb(31, 107, 229);
$other-blue: #388CFC;

.main-signup-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        color: whitesmoke;
    }

    .signup-form {

        display: flex;
        flex-direction: column;
        border: 3px solid $nice-blue;
        padding: 25px;
        border-radius: 5px;
        min-width: 350px;

        .error-message {
            color: red;
        }

        .signup-input {
            padding: 10px 10px 4px 10px;
            margin-bottom: 10px;
            font-size: 1.25em;
            background-color: inherit;
            border: none;
            border-bottom: 1px solid $other-blue;
            color: whitesmoke
        }

        .signup-input:last-of-type {
            margin-bottom: 20px;
        }

        .signup-input:focus {
            outline: none;
        }

        .signup-input::placeholder {
            color: rgb(176, 176, 176)
        }

        .signup-submit {
            border: 1px solid $nice-blue;
            background-color: $nice-blue;
            color: whitesmoke;
            padding: 10px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }

        .signup-submit:hover {
            border-color: $other-blue;
            background-color: $other-blue;
            transition: 0.25s;
        }

        .login-link {
            margin-top: 15px;
            color: whitesmoke
        }

    }

}