.divComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texteComment{
    width: 509px;
    margin: 13vh 4vh 6vh;
    height: 30px;
}

.btnComment{
    width: 8%;
    margin: 13vh 4vh 6vh;
    height: 30px;
}