.banner {
    transition-duration: 900ms;
    z-index: -1;
    position: relative;
    width: 100%;
    border-radius: 12px;

}

.banniere{
    text-align: center;
    margin: auto;
    border-radius: 12px;
    width: 100%;
}

.gradient {
    background: linear-gradient(to bottom, transparent, #1d233b)
}
.banniere div h1 {
    margin: -5vh 0 4vh 0;
}

.descShow {
    margin: auto;
    width: 90%;
}

.banniere div span {
    display: flex;
    flex-direction: row;
    margin: 7vh auto;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.zoneActeur {
    width: 10vw;
}

.profilActeur{
    width: 80%;
    border-radius: 50%;
}

.casters {
    display: flex;
    align-items: center;
}