.list-container {
    width : 100%; 
    margin-top : 10px; 
    width: 100vw;
    overflow-x: auto;

    .wrapper {
        position : relative; 
        width: 100vw;
        overflow-x: auto;

        .sliderArrow { 
            width: 50px; 
            height: 100%; 
            background-color: RGB(22, 22, 22, 0,5); 
            color: white; 
            position: absolute; 
            z-index: 99; 
            top: 0; 
            bottom: 0 ; 
            margin: auto ; 
            cursor: pointer;
            &.left { 
                left: 0; 
            }
            &.right { 
                right: 0; 
            } 
        }

        .show-container {
            //margin-left: 50px; 
            display: flex; 
            margin-top: 10px; 
            width: 100vw;
            white-space: nowrap;
            overflow-x: scroll;
            // overflow-y: hidden;
            transform: translateX(0px); 
            transition: all 0.25s ease; 
        }
    }
}
.show-container {
    //margin-left: 50px; 
    display: flex; 
    margin-top: 10px; 
    width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
    // overflow-y: hidden;
    transform: translateX(0px); 
    transition: all 0.25s ease; 
}